html {
  font-family: "Fredoka One", sans-serif;
}

main {
  border-top: 9px solid #b3fbff;
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff .5em,
  #d4fdff 0, #d4fdff 1em);
  border-bottom: 9px solid #b3fbff;
  min-height: 500px;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left bottom;
}

p {
  min-width: 19em;
  max-width: 19em;
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left bottom;
  margin-left: .375rem;
}

.btn {
  border-color: #c09;
  color: #990073;
}

.btn-ghost {
  border-color: #c09;
  color: #990073;
}

.cone {
  margin-top: 15.5em;
  position: absolute;
  width: 180px;
  margin-left: 12em;
}

@media only screen and (min-width: 90em) {

  .shift-w-push {
    padding-left: 8.5rem;
  }

  .cone {
    margin-top: 14.5em;
    margin-left: 13em;
  }

}

.cherry {

  position: absolute;
  width: 180px;
}

.vanilla-fudge {
  margin-top: 2em;
  position: absolute;
  width: 180px;
}

.chocolate-chip {

  position: absolute;
  width: 180px;
}

.mint-chip {
  position: absolute;
  width: 180px;
}
