html {
  font-family: "Fredoka One", sans-serif;
}

main {
  border-top: 9px solid #b3fbff;
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff .5em,
  #d4fdff 0, #d4fdff 1em);
  border-bottom: 9px solid #b3fbff;
  min-height: 480px;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left bottom;
}

p {
  min-width: 19em;
  max-width: 19em;
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left bottom;
}

.btn {
  border-color: #990073;
  color: #c09;
}

.btn-ghost {
  border-color: #c09;
  color: #990073;
}
